

body {
    background-color:  aliceblue;
}

#aboutMe {
    background-color:  aliceblue;
}

section {
    text-align: center;
}
.section-head {
    padding-top: 5%;
}
.jumbotron {
    text-align: center;
    height: 90vh;
    background-color: #151547;
}

.hero h1 {
    font-size: 2em;
}

.landing-Img img {
    height: 50%;
    width: 50%;
}

.p-icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-icon p {
    padding: 2% 20%;
    
}

#projects {
    background-color: #151547;
    height: auto;
}

/*card start*/

.card-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5% 2.5%;
}

.card {
    background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 25px;
      border: none;
  border-radius: 2.5% !important;
  margin: 2.5% 2.5%;
  width: 85% !important;
  height: 43rem !important;
}

.skill-card {
    width: auto;
    height: auto;
    margin: 0% 5%;
    text-align: center;
      padding: 25px;
      border: none;
      display: flex;
      flex-direction: column;
      background-color: #151547;
      color: #ffffff;
    
 
}


   .left {
    border-top-left-radius: 2.5% !important;
    border-bottom-left-radius: 2.5% !important;
   }

   .right {
    border-top-right-radius: 2.5% !important;
    border-bottom-right-radius: 2.5% !important;
   }

  .card p {
      font-size: 15px;
      font-weight: 700;
      color: hsl(233, 13%, 49%);
    }
  .card h3 {
      font-size: 1.8em;
      color:  #224dc2;
    }

    .card i, .card hr {
        color: #224dc2;

    }
    

   .middle-card {
    height: auto;
    width: 450px;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      border-radius: 2.5% !important;
      justify-content: center;
      text-align: center;
      z-index: 2;
  }
  
hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: hsl(234, 14%, 74%);
    height: 1px;
  }
  .price-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      justify-content: space-between;
  }
  
  .price-row h2 {
      font-size: 1.9em;
      font-weight: 700;
  }

  
  .price {
      font-size: 4.5em;
  }
  ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }
/*card start*/


.project-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.terminal {
    background-image: url(terminalArtboard1@1x.png);
    background-size: cover;
    background-position: 0% 20%;
    width: auto;
    height: 20em;
    display: flex;
    flex-direction: column;
}

input {
    position: relative;
    top: 5em;
    background-color: #000055;
    color: #ffffff;
    border: none;
    height: 50px;
    width: 20em;
    padding: 0%;
    font-size:1em;
  }
  .lead {
    position: relative;
    bottom: -5em;
}

.project {
    margin: 2.5% 0%;
    background-color: aliceblue;
}

.project h4 {
    font-weight: 600;
    font-size: 2em;
}

.project-subhead {
    font-weight: 800;
    font-size: 1.2em;
}


#profileImg {
    border-radius: 50%;
    height: 55%;
}

.contact-form{
    background: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
    margin-top: -20%;
}
.contact-form h3{
    margin-bottom: 0%;
    margin-top: -20%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    position: relative;
    top: 20em;
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}
.btnContactSubmit
{
    position: relative;
    top: 25em;
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc !important;
    border: none;
    cursor: pointer;
}

.container-social {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    position: fixed;
    right:0;
    top:20%;
  }
  
  .cube {
    width: 60px;
    height: 60px;
    background: #224dc2;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .plus-vertical,
  .plus-horizontal {
    background: #fffefe;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  
  .plus-vertical {
    height: 50%;
    width: 5px;
  }
  
  .plus-horizontal {
    width: 50%;
    height: 5px;
  }
  
  .quadrant {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .quadrant__item {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #224dc2;
    border-radius: 6px;
    position: relative;
  }
  
  .quadrant__item__content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .arrow-down,
  .arrow-left,
  .arrow-right,
  .arrow-up {
    opacity: 0;
  }
  
  .arrow-up {
    transform: translateY(10px);
  }
  
  .arrow-down {
    transform: translateY(-10px);
  }
  
  .arrow-left {
    transform: translateX(10px);
  }
  
  .arrow-right {
    transform: translateX(-10px);
  }

  .filterProjects {
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  .project {
    margin: 2.5% 0%;
    background-color: aliceblue;
}

.project h4 {
    font-weight: 600;
    font-size: 2em;
}

.project-subhead {
    font-weight: 800;
    font-size: 1.2em;
}

@media only screen and (min-width: 900px) {
    
section {
    height: 100vh;
}

#aboutMe , #contact{
    height: auto;
}
    .hero {
        display: flex;
        flex-direction: row;


    }
    .landing-Img img {
        height: auto;
        width: auto;
    }
   .p-icon-container{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   }

   .about-icon {
       margin: 5% 0% !important;
   }

   .about-icon h3 {
       font-size: 2em;
       font-weight: 600;
       margin: 5% 0%;
   }
   .about-icon p {
       padding: 0% 20%;
       font-size: 1em;
   }
   .card-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    flex-direction: row;
}

.card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    margin: 0 0  !important;
    padding: 2em !important;

    
}
.price-row h2 {
    font-size: 1.8em;
    font-weight: 700;
    margin: 10% 0%;
}

.card p {
    font-size: 1em;
    font-weight: 700;
   
  }
.card h3 {
    font-size: 1.2em;
    margin: 5% 0%;
    font-weight: 500;
    
   
  }
.card li {
    font-size: 1em;
}

.profileRow {
    display: flex;
    flex-direction: row;
}

#profileImg {
    margin-left: 25em;
    margin-top: 15%;
}

.skill-border{
    margin: 0% 0%;
}

.skill-container  {
    display: flex;
    flex-direction: column;
    margin: 2.5% 0%;
    padding: 0% 5%;
    margin-left: 0%;
    justify-content: center;
}

.skill-container p {
    margin:  0%;
    font-size: 1.4em;
    margin-bottom: 2%;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2em ;
    margin-top: 0%;
}

.project-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0% 2%;
    margin-bottom: 0%;
    
}

.terminal {
    background-image: url(terminalArtboard1@1x.png);
    background-size: cover;
    background-position: 0% 20%;
    width: 50em;
    height: 50em;
    display: flex;
    flex-direction: column;
}

input {
    position: relative;
    top: 5em;
    background-color: #000055;
    color: #ffffff;
    border: none;
    height: 100px;
    width: 600px;
    padding: 0%;
    font-size:2.1em;
  }
.lead {
    position: relative;
    bottom: -75%;
}
.skill-card {
    width: 80em;
    height: 25em;
    margin: 0% 20%;
    text-align: center;
      padding: 25px;
      border: none;
      display: flex;
      flex-direction: row;
      background-color: #151547;
      color: #ffffff;
    
}
.project {
    width: 30em;
}

.project-desc {
   padding: 0% 10%;
}

.card-content {
    margin: 0% 15%;
    margin-bottom: 0%
}

.contact-form{
    background: #fff;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
    margin-top: 0%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -14%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    position: relative;
    top: 5em;
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc !important;
    border: none;
    cursor: pointer;
}
}
